* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    color:#0249c2;
    font-family: 'Roboto' , sans-serif;
}

.Landing {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.Landing__section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.Landing__section_blue {
    background-color: #0249c2;
    color: #ffffff;
}

.Section {
    padding: 56px 0;
    width: 940px;
}

.Section__title {
    font-size: 32px;
    font-weight: 700;
}

.Section__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
}

.Header__logotype {}

.Header__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.Menu__link {
    font-size: 24px;
    font-weight: 900;
    margin-left: 24px;
    cursor: pointer;
    opacity: .5;
    transition: opacity .25s;
}

.Menu__link:hover {
    opacity: 1;
}

.Section__silder {
    margin-top: 56px;
}

.Section__content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.Section__info {}

.Section__text {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 32px;
}

.Section__button {
    display: inline-block;
    font-size: 32px;
    font-weight: 900;
    padding: 16px 24px;
    border-radius: 7px;
    background-color: #ffffff;
    color: #0249c2;
}

.Section__image {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.Landing__section_image {
    background-image: url('images/images/background_image.png');
    background-repeat: no-repeat;
    background-position: center;
}

.Section__content {
    margin-top: 32px;
}

.Content__text  {
    font-size: 20px;
}

.Content__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
}

.List__element {}

.Element__img {}

.Element__img img {
    border-radius: 24px;
}

.Element__tyrtle {
    padding: 0 16px;
    margin-top: 16px;
    font-size: 24px;
    font-weight: 700;
}

.Element__info {
    padding: 0 16px;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
}
